<h3>詳細画面</h3>
  投稿<br>
  <%= @favorite.content %><br>
  写真<br>
  <%= image_tag(@favorite.image.url) if @favorite.image && @favorite.image.url %><br>
  <button><%= link_to "戻る", favorites_path(@favorite.user_id) %></button>