<h5>アカウントが登録されました</h5>
<p><h4><%= @user.nickname %></h4></p>
<p><h5>メールアドレス</h5></p>
<p><h4><%= @user.email %><h4></p>
<p><h5>ログイン画面へ戻る</h5></p>
<button><%= link_to "ログイン", sessions_path %></button>
